/* Estilo del menú lateral */
.sidebar {
    width: 200px;
    background-color: #f0f0f0;
    position: fixed;
    height: 100%;
    padding: 20px;
}

.sidebar h2 {
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li a {
    text-decoration: none;
    color: #333;
    font-family: Arial, sans-serif;
}

.sidebar ul li a:hover {
    color: #007BFF;
}

/* Estilo del contenido principal */
.main-content {
    margin-left: 220px; /* Mueve el contenido hacia la derecha para dejar espacio al sidebar */
    padding: 20px;
    font-family: Arial, sans-serif;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    align-items: center;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 14px;
}

input, select {
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
    font-size: 14px;
}

/* Ajuste de las checkbox de entrada/salida */
input[type="checkbox"] {
    margin-left: 10px;
}

/* Estilo para el botón */
button {
    grid-column: span 2;
    padding: 10px;
    width: 150px; /* Ajusta el ancho */
    background-color: #007BFF;
    color: white;
